<!DOCTYPE html>
<html>
<head>
<title>Project-Keeper</title>
<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%235e5c64%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2267%22>📰</text></svg>" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%20src%3D%22https%3A%2F%2Fajax.googleapis.com%2Fajax%2Flibs%2Fjquery%2F3.2.1%2Fjquery.min.js%22%3E%3C%2Fscript%3E" data-mce-resize="true" data-mce-placeholder="1" class="mce-object" alt="&lt;script&gt;" title="&lt;script&gt;" />
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%20src%3D%22https%3A%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.7%2Fjs%2Fbootstrap.min.js%22%3E%3C%2Fscript%3E" data-mce-resize="true" data-mce-placeholder="1" class="mce-object" alt="&lt;script&gt;" title="&lt;script&gt;" />
</head>
 
<body  class = 'main'>
 
 
 
 
 
 
<div class="row">
 
 
<div style="  padding:25px 25px 25px 25px; border-radius: 20px;
box-sizing:content-box;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
background:green;
border-radius: 50px;
background: #5e5c64;
box-shadow:  -20px -20px 60px #262528,
             20px 20px 60px #9693a0;

             background: rgba( 36, 33, 33, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12px );
-webkit-backdrop-filter: blur( 12px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );">
<!-- retrieving HTML String from the child Views -->
{{{body}}}
</div>
 
 
</div>
 
 
</body>
</html>
