extends layout

block content
  if user
    form(class="message__form", method="POST", action="/new-message")
      div.input-group
        label(for="title") Title
        input#title(type="text", name="title")
      div.input-group
        label(for="text") Text:
        textarea#text(type="text", name="text")
      button.btn-primary(type="submit") Submit
    if errors
      ul
        for error in errors
          li!= error.msg
  else
    div
      h1 Login in order to be able to add new messages.
  
