extends layout

block content
  form(class="signup__form", method="POST", action="/sign-up")
    div.input-group
      label(for="username") Username:
      input#username(type="text", name="username")
    div.input-group
      label(for="password") Password:
      input#password(type="password", name="password")
    div.input-group
      label(for="conf-pass") Password:
      input#conf-pass(type="password", name="conf-pass")
  if errors
    ul
      for error in errors
        li!= error.msg
